# System
.DS_Store

# IDE
.vscode/

# Dependencies
node_modules/
vendor/
composer.lock
package-lock.json


# Build
**/dist/
**/build/
**/coverage/

# Secrets & Envs
.env
.env
.env.backup
.env_bk
*_bk
*.log
*.sqlite

# Docker
docker-compose.override.yml
